<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7753173160-idtf577vji9puhdiu1068id5l50i262a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7753173160-idtf577vji9puhdiu1068id5l50i262a</string>
	<key>API_KEY</key>
	<string>AIzaSyAH9BVhye9Up6-oO0jrkHMNPbmLAwBB6Pk</string>
	<key>GCM_SENDER_ID</key>
	<string>7753173160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coupleShareSchedule</string>
	<key>PROJECT_ID</key>
	<string>coupleshareschedule</string>
	<key>STORAGE_BUCKET</key>
	<string>coupleshareschedule.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7753173160:ios:93d83c3fffd9718109da9d</string>
</dict>
</plist>